<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pandora</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body ng-app="myApp" ng-controller="myController">
	<h1  id="title">🏺Pandora's Pithos🏺</h1>
    <div class="container" style="width: 100%; margin-top:3%;">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                <label id="subtitle" class="input-label">Welcome to a fun Website that asks you to remember what happened in the yesteryears and tells you how much of this one is left!<br><br> Enter Things You remember from each of these years!:</label>
                <input type="text" ng-model="newEntry" class="form-control">
                <button class="btn btn-primary mt-2" ng-click="addEntry()" style="margin-top: 1%;">Add Entry</button>
                <h3>Stored Entries:</h3>
                <div ng-repeat="entry in entries" class="entry">
                    <p ng-bind="entry"></p>
                    <button class="btn btn-danger" ng-click="deleteEntry($index)">Delete</button>
                </div>
            </div>
            <div id="container" class="col-lg-6 col-md-6 col-sm-12 mb-3">
                <!-- Progress Bars will be dynamically generated here -->
            </div>
        </div>
    </div>
</body>
</html>
